.nav_color{
    width: 100%;
    position: none;
    background-color: rgb(255, 250, 182);
    padding-top: 15px;
    padding: 10px;
    font-size: 32px;
}
.nav_tpc{
    text-align: center;
    text-decoration: none;
}
.home_image1{
    width: 100%;
    height: 600px;
}
.des1{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 50px;
}
.des1 h1{
    text-align: center;
    margin-bottom: 40px;
}
.des1 li{
    margin-top: 20px;
    margin-bottom: 20px;
}
.des1 img{
    width: 600px;
    height: 300px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.tbl{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tbl table tr td{
    border: 10px solid white;
    padding: 40px;
    padding-bottom: 25px;
}
.tbl table tr td p{
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
}

.tbl td{
    background-color: rgb(237, 237, 237);
}
.tbl img{
    width: 300px;
    height: 300px;
}

#elementToAnimate {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}
.anim{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: ;
}